spring:
  application:
    name: ms-backend-core
  datasource:
    hikari:
      connection-init-sql: SET ivfflat.probes = 3;
      maximum-pool-size: 40
      minimum-idle: 15
      connection-timeout: 3000
      validation-timeout: 1000
      idle-timeout: 30000
      max-lifetime: 600000
    url: ${FLYWAY_URL}
    username: ${FLYWAY_USER}
    password: ${FLYWAY_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true
        generate_statistics: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

jwt:
  secret: ${SPRING_SECURITY_SECRET}
  jwtExpiration: ${SPRING_SECURITY_JWT_EXPIRATION}
  refreshExpiration: ${SPRING_SECURITY_REFRESH_EXPIRATION}

openai:
  api-key: ${OPENAI_API_KEY:}
  base-url: https://api.openai.com/v1
  model: text-embedding-3-small
  timeout-ms: 10000

server:
  tomcat:
    threads:
      max: 150
      min-spare: 40
  forward-headers-strategy: native

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate: WARN
    codin.msbackendcore: INFO
    io.github.resilience4j: WARN

izipay:
  api-url: ${IZIPAY_API_URL}
  public-key: ${IZIPAY_PUBLIC_KEY}
  password: ${IZIPAY_PASSWORD}
  merchant-code: ${IZIPAY_MERCHANT_CODE}

resilience4j:
  bulkhead:
    instances:
      openaiBulkhead:
        maxConcurrentCalls: 30
        maxWaitDuration: 2s
      searchBulkhead:
         maxConcurrentCalls: 12
         maxWaitDuration: 50ms
  retry:
    instances:
      openaiRetry:
        maxAttempts: 2
        waitDuration: 800ms
        retryExceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - org.springframework.web.reactive.function.client.WebClientResponseException
          - java.io.IOException
          - codin.msbackendcore.shared.domain.exceptions.ServerErrorException
      izipayRetry:
        maxAttempts: 3
        waitDuration: 500ms
        retryExceptions:
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - java.io.IOException
          - codin.msbackendcore.shared.domain.exceptions.ServerErrorException

  circuitbreaker:
    instances:
      openaiCB:
        failureRateThreshold: 50
        slowCallRateThreshold: 70
        slowCallDurationThreshold: 3s
        waitDurationInOpenState: 15s
        minimumNumberOfCalls: 10
      izipayCB:
        failureRateThreshold: 50
        slowCallRateThreshold: 70
        slowCallDurationThreshold: 2s
        waitDurationInOpenState: 10s
        minimumNumberOfCalls: 5

  timelimiter:
    instances:
      openaiTimeout:
        timeoutDuration: 5s