spring:
  config:
    activate:
      on-profile: local
  jpa:
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
    show-sql: true

logging:
  level:
    root: INFO
    codin.msbackendcore: DEBUG
    io.github.resilience4j: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.engine.jdbc.batch.internal: DEBUG
    org.hibernate.stat: DEBUG